@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #323437;
  --foreground: #e2e2e2;
  --primary: #e2b714;
  --primary-rgb: 226, 183, 20;
  --error: #ca4754;
  --success: #4caf50;
  --inactive: #646669;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Mono', monospace;
}

.character {
  @apply transition-colors duration-100;
}

.character-current {
  @apply bg-primary-30 text-foreground;
}

.character-correct {
  @apply text-foreground;
}

.character-incorrect {
  @apply text-error;
}

.character-inactive {
  @apply text-inactive;
}
